<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    <title>Поиск статей</title>

    <!-- Included CSS Files -->

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">

    <!-- Link to experimental Foundation 5 grid containing medium styles -->
    <link rel="stylesheet" href="/stylesheets/grid-5.css">
    <link rel="stylesheet" href="/stylesheets/skin.css">

    <script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/zepto.min.js"></script>

</head>
<body class="home home-index">

<!-- Header and Nav -->

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1><%= title %></h1>
        </div>
    </div>
</div>

<!-- End Header and Nav -->



<div class="row">

    <div class="large-12 columns">
        <div class="radius panel">

            <form>
                <div class="row collapse">

                    <div class="large-10 small-8 columns">
                        <input id="search_string" type="text">
                    </div>

                    <div class="large-2 small-3 columns">
                        <a href="#" id="kb_search" class="postfix button expand">Search</a>
                    </div>

                </div>
            </form>

        </div>
    </div>

</div>

<div class="row">


    <div class="large-3 small-6 columns bg_content">
        <img src="/images/шестиугольник_сообщество.svg">
        <div class="panel">
            <p>Сообщество</p>
        </div>
    </div>

    <div class="large-3 small-6 columns bg_content">
        <img src="/images/шестиугольник_документы.svg">
        <div class="panel">
            <p>Документация</p>
        </div>
    </div>

    <div class="large-3 small-6 columns bg_content">
        <img src="/images/шестиугольник_вклад.svg">
        <div class="panel">
            <p>Вклад</p>
        </div>
    </div>

    <div class="large-3 small-6 columns bg_content">
        <img src="/images/шестиугольник_портал.svg">
        <div class="panel">
            <p>Портал</p>
        </div>
    </div>

</div>

<div class="row">

    <div id="kbcontainer" class="large-9 columns">

        <!-- Feed Entry -->
        <div class="row">
            <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]"/></div>
            <div class="small-9 large-10 columns">
                <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod
                    commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork
                    biltong.</p>
            </div>
        </div>
        <!-- End Feed Entry -->


    </div>
</div>


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">

    </div>
</footer>

<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/testing.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
