<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
      <script src="/javascripts/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <script>
      var jqxhr = $.get( "http://sd-gate.naumen.ru:10050/sd//services/rest/find/team?accessKey=40c8f924-7d9c-4033-8e1a-4783a06dbfb9", function() {
          alert( "success" );});
  </script>
  </body>
</html>