body {
    min-height: 740px;
    background-image: url('../images/light_wool.png'), -webkit-radial-gradient(center, #abdedd 0%, rgba(23, 182, 178, 0.76) 44%, rgba(8, 144, 153, 0.71) 100%);
    background-image: url('../images/light_wool.png'), -moz-radial-gradient(center, #abdedd 0%, rgba(23, 182, 178, 0.76) 44%, rgba(8, 144, 153, 0.71) 100%);
    background-image: url('../images/light_wool.png'), -o-radial-gradient(center, #abdedd 0%, rgba(23, 182, 178, 0.76) 44%, rgba(8, 144, 153, 0.71) 100%);
    background-image: url('../images/light_wool.png'), radial-gradient(center, #abdedd 0%, rgba(23, 182, 178, 0.76) 44%, rgba(8, 144, 153, 0.71) 100%);
}
.article {
    border-color: #17B6B2;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 15px !important;
    padding-left: 20px;
}