article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: normal
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: DNLTUL;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTUL.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTUL.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTUL.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTUL.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTUL.svg#DNLTUL") format("svg")
}

@font-face {
    font-family: DNLTL;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTL.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTL.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTL.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTL.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTL.svg#DNLTL") format("svg")
}

@font-face {
    font-family: DNLTR;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTR.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTR.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTR.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTR.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTR.svg#DNLTR") format("svg")
}

@font-face {
    font-family: DNLTM;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTM.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTM.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTM.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTM.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTM.svg#DNLTM") format("svg")
}

@font-face {
    font-family: DNLTB;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTB.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTB.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTB.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTB.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTB.svg#DNLTB") format("svg")
}

@font-face {
    font-family: DNLTLI;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTLI.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTLI.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTLI.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTLI.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTLI.svg#DNLTLI") format("svg")
}

@font-face {
    font-family: DNLTRI;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTRI.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTRI.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTRI.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTRI.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNLTRI.svg#DNLTRI") format("svg")
}

@font-face {
    font-family: DNRL;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRL.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRL.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRL.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRL.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRL.svg#DNRL") format("svg")
}

@font-face {
    font-family: DNRR;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRR.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRR.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRR.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRR.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRR.svg#DNRR") format("svg")
}

@font-face {
    font-family: DNRM;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRM.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRM.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRM.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRM.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRM.svg#DNRM") format("svg")
}

@font-face {
    font-family: DNRB;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRB.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRB.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRB.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRB.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/DNRB.svg#DNRB") format("svg")
}

@font-face {
    font-family: entypo;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entypo.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entypo.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entypo.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entypo.svg#entypo") format("svg")
}

.ent-text {
    font-family: entypo
}

body {
    font: 15px/1.3 DNLTR;
    color: #333;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
    font-family: DNRL;
    font-weight: normal
}

a {
    color: #005CA1;
    text-decoration: none;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -ms-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s
}

a:hover {
    color: #c55200
}

a:active, a:focus {
    outline: none;
    -webkit-outline-style: none;
    -moz-outline-style: none;
    -ms-outline-style: none;
    -o-outline-style: none;
    outline-style: none
}

strong {
    font-family: DNLTM
}

figcaption a {
    color: #eee
}

blockquote {
    color: #808080;
    font-style: oblique;
    font: 15px/1 DNLTUL
}

pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 12.025px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

::-moz-selection {
    background: #dedede;
    color: #484848;
    text-shadow: none
}

::selection {
    background: #dedede;
    color: #484848;
    text-shadow: none
}

body {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/master-bg2.png) repeat
}

p {
    margin: 0 0 25px
}

#main {
    clear: both;
    overflow: visible;
    margin: 30px auto 62px;
    display: block;
    width: 960px;
    position: relative
}

#content {
    position: relative;
    float: left;
    width: 740px;
    margin: 0 auto
}

#content ul li {
    list-style-type: disc;
    margin-left: 20px
}

#content ul li li {
    list-style-type: circle;
    margin-left: 20px
}

#content ul li li li {
    list-style-type: disc;
    margin-left: 20px
}

#content ul.feature-matrix-list li, #content ul.social li, #content ul.dsq-clearfix li, #content ul#dsq-footer li, #content ul#dsq-reactions li, #content ul#dsq-comments li, #content ul.menu-sub li, #content ul.whitebox-menu li {
    list-style-type: none;
    margin-left: inherit
}

#content ul.feature-matrix-list li li, #content ul.social li li, #content ul.dsq-clearfix li li, #content ul#dsq-footer li li, #content ul#dsq-reactions li li, #content ul#dsq-comments li li, #content ul.menu-sub li li, #content ul.whitebox-menu li li {
    list-style-type: none;
    margin-left: inherit
}

#content ul.feature-matrix-list li li li, #content ul.social li li li, #content ul.dsq-clearfix li li li, #content ul#dsq-footer li li li, #content ul#dsq-reactions li li li, #content ul#dsq-comments li li li, #content ul.menu-sub li li li, #content ul.whitebox-menu li li li {
    list-style-type: none;
    margin-left: inherit
}

#content ol li {
    list-style-type: decimal;
    margin-left: 20px
}

#content ol li li {
    list-style-type: lower-alpha;
    margin-left: 20px
}

#content ol li li li {
    list-style-type: lower-roman;
    margin-left: 20px
}

.col-960, .wrap {
    width: 960px;
    margin: 0 auto
}

.l-col-960 {
    width: 960px
}

.l-island {
    display: inline-block
}

.l-island > :last-child {
    margin-bottom: 0;
    margin-right: 0
}

.l-island-rt {
    float: right
}

.l-island-lt {
    float: left
}

.col-right, .alignright {
    float: right
}

.col-left, .alignleft {
    float: left
}

blockquote {
    display: block;
    margin: 30px 0
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix.ico-iphone:after, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.masthead {
    position: relative;
    height: 90px;
    padding: 20px 0 0;
    font-family: DNRR;
    background: #fff
}

@media only screen and (max-width: 768px) {
    .masthead {
        padding-top: 6px;
        padding-left: 0;
        padding-right: 0;
        height: 60px;
        z-index: 1
    }
}

.masthead-top {
    letter-spacing: 1px
}

.site-title {
    float: left;
    position: relative;
    margin-top: 17px;
    padding-bottom: 20px
}

.site-title a {
    display: block;
    width: 200px;
    height: 57px;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -114px 2px no-repeat
}

.site-title a:hover {
    position: relative;
    top: -7px;
    left: -18px;
    background-position: -96px -59px
}

.site-title a.no-hover:hover {
    position: relative;
    top: auto;
    left: auto;
    background-position: -114px 2px
}

@media only screen and (max-width: 768px) {
    .site-title a.no-hover:hover {
        background-position: 0 -3px !important
    }
}

@media (max-width: 960px) {
    .masthead .site-title a.no-hover:hover {
        background-position: -10px 0px
    }
}

.context-menu {
    display: none;
    width: 300px;
    height: 107px;
    position: absolute;
    background: #fff;
    padding: 15px;
    background-image: none;
    box-shadow: -2px 2px 8px #ccc;
    border: 1px solid #eee;
    border-radius: 5px;
    left: 0;
    top: 86px;
    z-index: 10
}

.context-menu h4 {
    font: 12px DNRR;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 5px
}

.context-menu p {
    margin-bottom: 15px;
    color: #333;
    letter-spacing: 0;
    font: 16px/20px DNLTR
}

.context-menu a.button-white, .context-menu a.button-white-disabled:hover {
    width: 92%;
    height: 18px;
    margin-right: 0;
    background-color: #fefefe;
    background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -ms-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: linear-gradient(top, #fefefe, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f2f2f2', GradientType=0);
    background-position: center center;
    background-color: #fff
}

.context-menu a.button-white:hover, .context-menu a.button-white-disabled:hover {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f2f2f2, #fefefe);
    background-image: -ms-linear-gradient(top, #f2f2f2, #fefefe);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fefefe));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #fefefe);
    background-image: -o-linear-gradient(top, #f2f2f2, #fefefe);
    background-image: linear-gradient(top, #f2f2f2, #fefefe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=0);
    color: #78a300;
    background-color: #efefef
}

.js-stuck .context-menu {
    top: 64px
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .site-title a {
        background-image: url(/wp-content/themes/zendesk-twentyeleven/img/logo-zendesk_2X.png);
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-size: 200px auto;
        background-position: 0 0
    }

    .site-title a:hover {
        height: 80px;
        margin-bottom: -23px;
        width: 220px;
        background-position: 19px -62px
    }

    .site-title a.no-hover:hover {
        width: 200px;
        height: 57px;
        margin-bottom: 0;
        background-position: 0 0
    }
}

.masthead-top-i18n {
    position: relative;
    margin-right: 15px
}

.masthead-top-i18n .list-sub {
    display: none;
    background: #fff;
    padding: 5px 20px 3px;
    overflow: hidden;
    position: absolute;
    z-index: 100000;
    top: 15px;
    margin-left: -19px;
    border: 1px solid #ddd;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.masthead-top-i18n .list-item {
    margin: 7px auto;
    text-transform: none;
    clear: both
}

.masthead-top-i18n .list-item a {
    font-size: 11px
}

.masthead-top-i18n .list-item a:hover {
    color: #000
}

.masthead-top-i18n #lang-shim {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/bg-tooltip.png) no-repeat;
    height: 20px;
    width: 27px;
    display: block;
    position: relative;
    top: -36px
}

.masthead-top-i18n .first {
    color: #555
}

.masthead-top-i18n .first span.ent-text:after {
    position: absolute;
    content: '\25BE';
    right: -6px;
    top: 4px;
    padding-left: 15px;
    font-size: 15px;
    height: 5px;
    line-height: 6px;
    color: #d3d3d3
}

.masthead-top-i18n .first span:nth-child(2) {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -208px -125px no-repeat;
    width: 16px;
    height: 11px;
    display: block;
    margin-left: 17px
}

.masthead-top-i18n .list-item a {
    background-repeat: none
}

.masthead-top-i18n .list-item a :last-child a {
    margin-right: 0
}

.masthead .js-stuck {
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.masthead .js-stuck .js-stuck-inner {
    width: 960px;
    margin: auto
}

.masthead .js-stuck .site-title {
    margin-top: 15px
}

.masthead .js-stuck .primary-menu {
    margin-top: 33px
}

.masthead .primary-menu {
    position: relative;
    background: none;
    float: right;
    clear: right
}

.masthead .primary-menu-list-wrap {
    position: relative;
    height: 20px
}

@media only screen and (max-width: 768px) {
    .masthead .primary-menu-list-wrap {
        top: 10px
    }
}

.masthead .primary-menu .lotus {
    display: block;
    float: right;
    width: 46px;
    height: 39px;
    margin-right: -46px;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -10px -65px no-repeat;
    z-index: 1;
    position: relative
}

.masthead .primary-menu .lotus:hover {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -56px -65px no-repeat
}

.masthead .primary-menu-list {
    position: relative;
    z-index: 999;
    float: left
}

.masthead .primary-menu-list .pin {
    display: block;
    position: absolute;
    top: 1px;
    left: 64px;
    height: 11px;
    width: 13px;
    z-index: 99999;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/navigation/background-pin.png) 0 0 no-repeat
}

.masthead .list-parent {
    position: relative;
    float: left
}

.masthead .list-parent a {
    display: block;
    max-height: 36px;
    font: 15px/1 DNRB;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 12px;
    background: none;
    cursor: pointer
}

.masthead .register {
    position: relative;
    top: -9px;
    float: left;
    margin-left: 10px;
    height: 27px;
    padding: 0 15px;
    border: 1px solid #e6923a;
    letter-spacing: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none
}

.masthead .register:hover {
    background-color: #ffae57;
    background-image: -moz-linear-gradient(top, #ffae57, #e47601);
    background-image: -ms-linear-gradient(top, #ffae57, #e47601);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffae57), to(#e47601));
    background-image: -webkit-linear-gradient(top, #ffae57, #e47601);
    background-image: -o-linear-gradient(top, #ffae57, #e47601);
    background-image: linear-gradient(top, #ffae57, #e47601);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae57', endColorstr='#e47601', GradientType=0)
}

.masthead .register:active {
    box-shadow: 0px 0px 0px 0px, inset 0px 1px 7px #6f3100
}

.masthead .primary-menu-list .js-active a, .masthead .primary-menu-list .current-menu-parent a {
    color: #2d2d2d
}

.masthead .primary-menu-list .js-active .primary-menu-list-dropdown {
    display: block;
    opacity: 1;
    left: -20px;
    top: 15px;
    z-index: 99999
}

.masthead .primary-menu-list .js-active .primary-menu-list-dropdown a {
    border-left: none !important;
    border-right: none !important
}

.masthead .primary-menu-list .primary-menu-list-dropdown {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 99999;
    opacity: 0;
    padding-top: 7px;
    background: none
}

.masthead .primary-menu-list .primary-menu-list-dropdown ul {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bebebe;
    border-bottom: 1px solid #b9b9b9;
    -webkit-box-shadow: 0px 0px 4px 0px #000;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
    background: #eee
}

.masthead .primary-menu-list .primary-menu-list-dropdown li {
    display: block;
    position: relative;
    float: none;
    border-left: none !important;
    border-right: none !important;
    padding: 0
}

.masthead .primary-menu-list .primary-menu-list-dropdown li a {
    display: block;
    width: 200px;
    color: #666;
    padding: 9px 15px 9px 15px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #dedede;
    border-left: none !important;
    cursor: pointer;
    background: #f0f0f0;
    text-shadow: none;
    font: 15px/1.3 DNRR;
    text-transform: none
}

.masthead .primary-menu-list .primary-menu-list-dropdown li a:hover {
    display: block;
    color: #000;
    background: #fff
}

.masthead .primary-menu-list .primary-menu-list-dropdown li:first-child a {
    border-radius: 6px 6px 0 0;
    padding-top: 13px;
    border-left: none !important
}

.masthead .primary-menu-list .primary-menu-list-dropdown li:last-child a {
    border-radius: 0 0 6px 6px;
    padding-bottom: 13px;
    border-right: none !important
}

.masthead .primary-menu-list .primary-menu-list-dropdown > ul li a {
    width: 215px
}

.masthead .primary-menu-list .js-active.ico-iphone .primary-menu-list-dropdown {
    left: -64px;
    top: 19px
}

.button-global-trial {
    display: block;
    margin: 2px 0 0 10px;
    height: 23px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 10px 5px;
    box-shadow: 0px 3px 4px #1F4704;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFC154', endColorstr='#E47601')
}

.masthead .primary-menu-wrap a.buy-button:hover {
    box-shadow: none;
    box-shadow: 0px 3px 10px #355E19
}

.masthead .primary-menu-shim {
    display: block;
    position: absolute;
    z-index: 1
}

.masthead .primary-menu-shim#shim1 {
    width: 120px;
    height: 39px;
    background: none;
    position: absolute;
    left: -120px
}

.masthead .primary-menu-shim#shim2 {
    width: 600px;
    height: 40px;
    background: none;
    right: 0;
    top: 0px
}

.masthead .primary-menu-bar-cta {
    position: relative;
    z-index: 10;
    display: block;
    float: right;
    font: 16px DNRB;
    text-shadow: -1px 1px 2px #416202;
    color: #eee;
    margin: 3px 0 0 0
}

.masthead .primary-menu-bar-cta-item {
    float: left
}

.search-spawn {
    float: left;
    width: 19px;
    margin-top: -3px;
    padding: 0 10px;
    font-size: 17px;
    cursor: pointer;
    color: gray;
    display: inline-block;
    height: 10px;
    line-height: 1
}

.search-spawn:before, .search-spawn.ico-iphone:after {
    content: '\e803'
}

.search-spawn:hover {
    color: #2d2d2d
}

.masthead .ent-reveal {
    margin-top: 18px;
    font-size: 80%;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.secondary-menu {
    float: right;
    margin: -5px 0 25px
}

.secondary-menu .secondary-menu-item {
    display: inline-block;
    cursor: pointer;
    padding: 1px 8px 0px 0;
    color: #a6a6a6;
    text-decoration: none;
    font-size: 11px
}

.secondary-menu .secondary-menu-item a {
    color: #a6a6a6
}

.secondary-menu .secondary-menu-item:hover {
    color: #c55200
}

.secondary-menu .secondary-menu-item:first-child {
    padding-left: 0
}

.secondary-menu .secondary-menu-item:last-child {
    border: none;
    padding-right: 0
}

.secondary-menu .secondary-menu-item.call-us {
    font-size: 15px;
    position: relative;
    color: #a6a6a6;
    cursor: pointer
}

.secondary-menu .secondary-menu-item.call-us:before, .secondary-menu .secondary-menu-item.call-us.ico-iphone:after {
    content: '\e854'
}

.secondary-menu .secondary-menu-item.call-us-num {
    padding-right: 0
}

.secondary-menu .secondary-menu-item.call-us-num a {
    color: #2d2d2d;
    font-family: DNLTM
}

.contact-tel-wrap {
    margin: 4px 0 0 0
}

.contact-tel-num {
    color: #eee !important;
    text-shadow: -1px 1px 2px #416202
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .primary-menu-list li a.list-parent {
        font: 15px/1 DNRB
    }

    .primary-menu-bar-cta {
        font: 15px/1 DNRB
    }
}

.mastfoot {
    overflow: hidden;
    position: relative;
    clear: both;
    margin-top: 62px;
    text-transform: uppercase;
    font-family: DNRM;
    color: #808080;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/master-bg2.png) repeat
}

.mastfoot .mastfoot-top {
    padding: 20px 0;
    box-shadow: inset 0px 13px 39px #e6e6e6
}

.mastfoot .mastfoot-bottom {
    position: relative;
    padding: 15px 0 12px;
    box-shadow: inset 0px 13px 39px #e6e6e6
}

.mastfoot .l-island-right {
    float: right;
    width: 220px
}

.mastfoot .primary-menu-list .pin {
    display: none
}

.mastfoot .primary-menu-list .list-parent {
    display: block;
    float: left;
    width: 144px;
    margin-right: 30px
}

.mastfoot .primary-menu-list .list-parent > a {
    display: block;
    margin: 0 0 5px;
    padding: 0;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #d6d6d6;
    text-transform: uppercase;
    font-family: DNRM
}

.mastfoot .primary-menu-list .list-parent.no_children a {
    border: none
}

.mastfoot .primary-menu-list:first-child .product {
    width: 175px
}

.mastfoot .primary-menu-list .primary-menu-list-dropdown .menu-item {
    margin-bottom: 2px;
    line-height: 12px
}

.mastfoot .primary-menu-list .primary-menu-list-dropdown .menu-item a {
    display: block;
    line-height: 12px;
    width: 100%;
    color: #808080;
    font-size: 10.5px;
    font-weight: normal;
    text-decoration: none
}

.mastfoot .primary-menu-list .primary-menu-list-dropdown .menu-item a:hover {
    background: none repeat scroll 0 0 #DDDDDD
}

.welcome-greeting {
    float: left;
    width: 120px;
    font-size: 11px;
    line-height: 1.2;
    color: #959595;
    text-transform: none;
    margin-right: 4px
}

.lang-ja .welcome-greeting {
    width: 100%
}

.mastfoot-colophon {
    margin-left: 80px;
    font-size: 10px;
    color: #a6a6a6
}

.mastfoot-colophon .logo {
    float: left;
    height: 21px;
    width: 70px;
    margin: -11px 3px 0 0;
    padding: 0;
    border: none;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -17px -61px
}

.mastfoot-colophon a {
    color: #808080;
    font-size: 10.5px;
    font-weight: normal;
    text-decoration: none
}

.mastfoot-colophon p, .mastfoot-colophon p a, .mastfoot-colophon p a:visited {
    margin: 0;
    font-size: 8.5px;
    font-style: oblique;
    text-transform: none;
    color: #bbbbbb
}

.mastfoot .ico-mglass {
    float: right;
    top: 3px;
    left: -8px
}

.mastfoot .ent-text {
    font-family: entypo;
    font-size: 26px;
    color: gray;
    line-height: 20px;
    margin: 0 5px 0 0;
    padding: 0;
    display: inline;
    float: left;
    letter-spacing: -1px
}

.mastfoot .ent-text.ico-twitter:hover {
    color: #4099FF
}

.mastfoot .ent-text.ico-facebook:hover {
    color: #3B5998
}

.mastfoot .ent-text.ico-gplus:hover {
    color: #F90101
}

.buddhy {
    display: block;
    height: 72px;
    width: 71px;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -300px -61px no-repeat;
    position: absolute;
    top: 217px
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .buddhy {
        background-image: url("/wp-content/themes/zendesk-twentyeleven/img/global-sprite-retina.png");
        background-size: 71px 72px;
        background-position: 0 0
    }
}

.ico {
    display: inline-block
}

.ico-140 {
    width: 142px;
    height: 140px
}

.ico-facebook {
    background-position: -214px -97px
}

.ico-facebook:hover {
    background-position: -237px -97px
}

.ico-twitter {
    background-position: -214px -72px
}

.ico-twitter:hover {
    background-position: -237px -72px
}

.ico-gplus {
    background-position: -214px -121px
}

.ico-gplus:hover {
    background-position: -237px -121px
}

.ico-iphone {
    position: relative;
    top: 4px;
    margin-right: 0px;
    height: 20px;
    width: 12px;
    border-radius: 2px;
    background: #415d17
}

.ico-iphone:before, .ico-iphone:after {
    content: "";
    width: 8px;
    height: 12px;
    background: #76a500;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 1px
}

.ico-iphone:after {
    width: 2px;
    height: 2px;
    left: 5px;
    top: 16px
}

.ico-mglass {
    position: relative;
    display: inline-block;
    padding: 3px;
    height: 6px;
    width: 6px;
    border: 2px solid #888;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px
}

.ico-mglass:after {
    content: "";
    height: 2px;
    width: 6px;
    background: #888;
    position: absolute;
    top: 7px;
    left: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ico-check:before, .ico-check.ico-iphone:after {
    font: 20px entypo;
    color: #78a300;
    content: '\e812'
}

.button {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.button:before, .button.ico-iphone:after, .button:after {
    content: '';
    position: absolute;
    left: -1px;
    width: 100%;
    bottom: -1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.button-subtext {
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;
    text-shadow: none;
    margin-top: -6px
}

.orange, .orange:visited, .button-orange, .button-orange:visited {
    color: #fff;
    background-color: #f8b21f;
    font: 15px/2 DNRB;
    text-transform: uppercase;
    background-color: #ffc154;
    background-image: -moz-linear-gradient(top, #ffc154, #e47601);
    background-image: -ms-linear-gradient(top, #ffc154, #e47601);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc154), to(#e47601));
    background-image: -webkit-linear-gradient(top, #ffc154, #e47601);
    background-image: -o-linear-gradient(top, #ffc154, #e47601);
    background-image: linear-gradient(top, #ffc154, #e47601);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc154', endColorstr='#e47601', GradientType=0);
    -webkit-text-shadow: #b94b00 0px 1px 0px;
    -moz-text-shadow: #b94b00 0px 1px 0px;
    -ms-text-shadow: #b94b00 0px 1px 0px;
    -o-text-shadow: #b94b00 0px 1px 0px;
    text-shadow: #b94b00 0px 1px 0px;
    -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    padding: 3px 10px 0px
}

.orange:hover, .button-orange:hover {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/noise-orange.png) repeat;
    color: #fefefe;
    background-color: #ffc154;
    background-image: -moz-linear-gradient(top, #ffc154, #e47601);
    background-image: -ms-linear-gradient(top, #ffc154, #e47601);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc154), to(#e47601));
    background-image: -webkit-linear-gradient(top, #ffc154, #e47601);
    background-image: -o-linear-gradient(top, #ffc154, #e47601);
    background-image: linear-gradient(top, #ffc154, #e47601);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc154', endColorstr='#e47601', GradientType=0);
    -webkit-box-shadow: inset 0 0 0 0 #e08805;
    -moz-box-shadow: inset 0 0 0 0 #e08805;
    -ms-box-shadow: inset 0 0 0 0 #e08805;
    -o-box-shadow: inset 0 0 0 0 #e08805;
    box-shadow: inset 0 0 0 0 #e08805
}

.orange:active, .button-orange:active {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/noise-orange.png) repeat, -webkit-gradient(linear, left top, left bottom, from(#ce6c04), to(#ffc154));
    box-shadow: 0px 0px 0px 0px, inset -0px 1px 7px #6F3100;
    color: #fff
}

#modal .orange {
    box-shadow: none
}

.button-orange .button-subtext {
    color: #f4d6a3
}

.black, .black:visited {
    color: #fff;
    background: #333;
    background-color: #000;
    background-image: -moz-linear-gradient(top, #000, #5a5a5a);
    background-image: -ms-linear-gradient(top, #000, #5a5a5a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#5a5a5a));
    background-image: -webkit-linear-gradient(top, #000, #5a5a5a);
    background-image: -o-linear-gradient(top, #000, #5a5a5a);
    background-image: linear-gradient(top, #000, #5a5a5a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#5a5a5a', GradientType=0);
    cursor: pointer
}

.black:hover {
    background: black;
    background-color: #000;
    background-image: -moz-linear-gradient(top, #000, #000);
    background-image: -ms-linear-gradient(top, #000, #000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
    background-image: -webkit-linear-gradient(top, #000, #000);
    background-image: -o-linear-gradient(top, #000, #000);
    background-image: linear-gradient(top, #000, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=0);
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none
}

.button-gray, .button-gray:visited {
    color: #555555;
    cursor: pointer;
    font: 15px/2 DNRM;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    background-image: -moz-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -ms-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e0dcd5));
    background-image: -webkit-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -o-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: linear-gradient(top, #fefefe, #e0dcd5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e0dcd5', GradientType=0)
}

.button-gray:hover {
    background-color: #fefefe;
    background-image: -moz-linear-gradient(top, #fefefe, #d1cdc5);
    background-image: -ms-linear-gradient(top, #fefefe, #d1cdc5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#d1cdc5));
    background-image: -webkit-linear-gradient(top, #fefefe, #d1cdc5);
    background-image: -o-linear-gradient(top, #fefefe, #d1cdc5);
    background-image: linear-gradient(top, #fefefe, #d1cdc5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d1cdc5', GradientType=0);
    -webkit-box-shadow: 0 0 0 0 #cacaca inset;
    -moz-box-shadow: 0 0 0 0 #cacaca inset;
    -ms-box-shadow: 0 0 0 0 #cacaca inset;
    -o-box-shadow: 0 0 0 0 #cacaca inset;
    box-shadow: 0 0 0 0 #cacaca inset;
    color: #444444;
    -webkit-text-shadow: 1px 1px 0 #fefefe;
    -moz-text-shadow: 1px 1px 0 #fefefe;
    -ms-text-shadow: 1px 1px 0 #fefefe;
    -o-text-shadow: 1px 1px 0 #fefefe;
    text-shadow: 1px 1px 0 #fefefe
}

.button-gray:active {
    background-color: #fefefe;
    background-image: -moz-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -ms-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e0dcd5));
    background-image: -webkit-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: -o-linear-gradient(top, #fefefe, #e0dcd5);
    background-image: linear-gradient(top, #fefefe, #e0dcd5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e0dcd5', GradientType=0);
    color: #444
}

.white, .white:visited {
    color: #78a300;
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7));
    background: -moz-linear-gradient(top, #fefefe, #f7f7f7);
    -webkit-box-shadow: inset 0px 0px 1px 1px 0 #fff;
    -moz-box-shadow: inset 0px 0px 1px 1px 0 #fff;
    -ms-box-shadow: inset 0px 0px 1px 1px 0 #fff;
    -o-box-shadow: inset 0px 0px 1px 1px 0 #fff;
    box-shadow: inset 0px 0px 1px 1px 0 #fff;
    font: 15px/2 DNRM;
    border: 1px solid #EEE;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fefefe', endColorstr='#f7f7f7')
}

.white:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fdfdfd, #f1f1f1);
    -webkit-box-shadow: inset 0px 0px 0px 0px #cacaca;
    -moz-box-shadow: inset 0px 0px 0px 0px #cacaca;
    -ms-box-shadow: inset 0px 0px 0px 0px #cacaca;
    -o-box-shadow: inset 0px 0px 0px 0px #cacaca;
    box-shadow: inset 0px 0px 0px 0px #cacaca;
    -webkit-text-shadow: 1px 1px 0px #fefefe;
    -moz-text-shadow: 1px 1px 0px #fefefe;
    -ms-text-shadow: 1px 1px 0px #fefefe;
    -o-text-shadow: 1px 1px 0px #fefefe;
    text-shadow: 1px 1px 0px #fefefe;
    border: 1px solid #ddd
}

.white:active {
    box-shadow: 0px 0px 0px 0px, inset 0px 2px 8px #3F3F3F
}

.link-more {
    background: #000;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#5a5a5a));
    background: -moz-gradient(top, #000, #5a5a5a);
    padding: 7px 9px 6px;
    color: #fefefe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font: 12px DNLTB;
    margin-top: 20px
}

a:hover.link-more {
    background: #000;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#000));
    background: -moz-gradient(top, #000, #000)
}

.read-more {
    height: 10px;
    padding: 0 0 0 10px;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font: 11px DNLTR;
    color: #005ca1;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/global-sprite.png) -402px -224px no-repeat
}

.read-more:hover {
    color: #c55200;
    background-position: -402px -236px
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font: 16px DNLTM;
    line-height: 22px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: -ms-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: -o-linear-gradient(top, #fefefe, #e6e6e6);
    background-image: linear-gradient(top, #fefefe, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefeFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    *margin-left: .3em;
    *border: 0;
    *background-color: #e6e6e6;
    *line-height: 20px
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.btn:active, .btn.active {
    background-color: #ccc \9
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn-inverse, .btn-inverse:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75)
}

.btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.btn-inverse {
    background-color: #404040;
    background-image: -moz-linear-gradient(top, #555, #222);
    background-image: -ms-linear-gradient(top, #555, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
    background-image: -webkit-linear-gradient(top, #555, #222);
    background-image: -o-linear-gradient(top, #555, #222);
    background-image: linear-gradient(top, #555, #222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF555555', endColorstr='#FF222222', GradientType=0);
    border-color: #222 #222 #000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    *background-color: #222;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222;
    *background-color: #151515
}

.btn-inverse:active, .btn-inverse.active {
    background-color: #090909 \9
}

.button-white, .button-white-disabled:hover {
    border: 1px solid #ccc;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -ms-box-shadow: 1px 1px 2px #DFDFDF;
    -o-box-shadow: 1px 1px 2px #DFDFDF;
    -webkit-box-shadow: 1px 1px 2px #DFDFDF;
    -moz-box-shadow: 1px 1px 2px #DFDFDF;
    box-shadow: 1px 1px 2px #DFDFDF;
    color: #78a300;
    display: block;
    height: 18px;
    margin-right: 5px;
    padding: 8px 10px 0;
    overflow: hidden;
    position: relative;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dddddd');
    background-image: linear-gradient(bottom, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -o-linear-gradient(bottom, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -moz-linear-gradient(bottom, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -ms-linear-gradient(bottom, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, #f2f2f2), color-stop(0.7, #fefefe), color-stop(0.85, #fefefe));
    font: 13px/13px DNRM;
    vertical-align: text-bottom;
    text-transform: uppercase
}

.button-white:hover, .button-white-disabled:hover {
    background: #efefef;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#fefefe');
    background-image: linear-gradient(top, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -o-linear-gradient(top, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -moz-linear-gradient(top, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -webkit-linear-gradient(top, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -ms-linear-gradient(top, #f2f2f2 39%, #fefefe 70%, #fefefe 85%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #f2f2f2), color-stop(0.7, #fefefe), color-stop(0.85, #fefefe));
    color: #78a300
}

.button-disabled {
    opacity: .3;
    filter: alpha(opacity=30);
    pointer-events: none
}

#zendesk-resource #see-all, #zendesk-resource .download-it {
    border: 1px solid #ccc;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -ms-box-shadow: 1px 1px 2px #ccc;
    -o-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    box-shadow: 1px 1px 2px #ccc;
    color: #78a300;
    display: block;
    padding: 8px 10px 0;
    overflow: hidden;
    position: relative;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dddddd');
    background-image: linear-gradient(bottom, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -o-linear-gradient(bottom, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -moz-linear-gradient(bottom, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -ms-linear-gradient(bottom, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, #f2f2f2), color-stop(0.7, #fff), color-stop(0.85, #fff));
    font: 13px/13px DNRM;
    vertical-align: text-bottom;
    text-transform: uppercase
}

#zendesk-resource #see-all:hover, #zendesk-resource .download-it:hover {
    background: #efefef;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#fefefe');
    background-image: linear-gradient(top, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -o-linear-gradient(top, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -moz-linear-gradient(top, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -webkit-linear-gradient(top, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -ms-linear-gradient(top, #f2f2f2 39%, #fff 70%, #fff 85%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.39, #f2f2f2), color-stop(0.7, #fff), color-stop(0.85, #fff))
}

.play-arrow-small {
    top: -1px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #A8A8A8;
    position: relative;
    display: inline-block;
    margin-right: 6px;
    float: left;
    *margin: 0;
    *top: 0;
    *padding-right: 5px
}

.play-arrow-big {
    width: 29px;
    height: 29px;
    margin: 1px 8px 0 -4px;
    float: left
}

.button-orange .play-arrow-big {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/p-home/orange-arrow.png) no-repeat
}

.button-gray .play-arrow-big {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/p-home/icon-play.png) no-repeat !important
}

ul, ol {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

.list {
    display: block;
    list-style: none
}

.list .list-item {
    list-style: none
}

.list .list-parent .list-hor {
    display: inline-block
}

.list-hor .list-item {
    display: inline
}

.list-vert .list-item {
    display: block
}

input[type=text]::-ms-clear {
    display: none
}

.form-gray li {
    margin-bottom: 10px;
    float: left;
    position: relative;
    cursor: normal
}

.form-gray label {
    display: none;
    position: relative
}

.form-gray input, .form-gray textarea {
    float: left;
    height: 24px;
    font-size: 15px;
    vertical-align: middle;
    padding: 7px 0 6px 11px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    box-shadow: 0px 2px 7px #E9E7E7 inset;
    -webkit-box-shadow: inset 0px 2px 7px #E9E7E7 #ccc;
    -moz-box-shadow: inset 0px 2px 7px #E9E7E7 #ccc;
    -ms-box-shadow: inset 0px 2px 7px #E9E7E7 #ccc
}

.form-gray input[type="submit"] {
    padding: 7px;
    color: white;
    background-color: #666;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
    font-family: DNRB;
    text-transform: uppercase
}

.form-gray .select-label .toggle {
    display: block;
    float: right;
    height: 40px;
    width: 44px;
    background-image: url("/wp-content/themes/zendesk-twentyeleven/img/p-demo/icon-select.png");
    background-position: right -2px;
    background-repeat: no-repeat;
    background-size: 90%
}

.form-gray .select-label {
    float: left;
    height: 36px;
    font: 0.95em/2.6 DNRM;
    color: #999;
    padding: 0 0 0 12px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #D5D5D5;
    -moz-box-shadow: inset 0 -16px 43px #f6f6f6;
    -webkit-box-shadow: inset 0 -16px 43px #f6f6f6;
    box-shadow: inset 0 -16px 43px #f6f6f6;
    background: white;
    display: inline-block
}

.form-gray .select {
    position: absolute;
    left: 0;
    font-family: 'arial';
    margin: 0 0 0 0;
    padding: 0 0 0 12px;
    box-shadow: 0px 1px 1px #B8B6A5 inset;
    border: 1px solid #B8B6A5;
    color: #888;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0
}

.form-gray .btn-submit {
    float: none;
    height: 22px;
    margin: 0 auto;
    padding: 14px 20px 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px
}

.form-gray .set {
    color: #555
}

.form-gray .loading {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 2px 7px #D6D5D5;
    display: none
}

.form-gray .loading .loading-inner {
    display: table-cell;
    vertical-align: middle
}

.form-gray .loading-img {
    margin: 0 auto;
    background-image: url("/wp-content/themes/zendesk-twentyeleven/img/signup/loader.gif");
    height: 178px;
    width: 178px;
    display: block
}

.form-gray .loading p {
    color: #999;
    font: 13px/1.35 DNLTRI
}

.form-gray .loading p span {
    font: 13px/1.35 DNRM;
    color: #666
}

.separator {
    width: 100%;
    display: inline-block;
    clear: both;
    height: 0px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #F3F3F3;
    margin: 20px 0
}

.form-gray .error label, .form-gray .form-gray .error label, .form-gray .error label {
    width: 210px;
    margin-right: -10px;
    font: 13px/1.5 DNRR;
    padding: 0 0 2px 25px;
    color: #DA491C;
    cursor: default;
    padding-left: 23px;
    opacity: 0;
    background: url("/wp-content/themes/zendesk-twentyeleven/img/p-demo/icon-error.png") 2px 0 no-repeat
}

.form-lead {
    width: 585px;
    position: relative
}

.form-lead li {
    width: 280px;
    list-style: none
}

.form-lead li input {
    width: 277px
}

.form-lead li:nth-child(odd) {
    margin-right: 20px
}

.form-lead .select-label {
    width: 276px
}

.form-lead .select {
    height: 41px;
    width: 276px;
    margin-left: 10px
}

.form-lead .btn-submit {
    min-width: 120px;
    float: right
}

.form-lead #mktFrmButtons label {
    position: absolute;
    top: 13px;
    font-family: DNLTRI;
    color: #808080;
    font-size: 14px
}

.form-lead .radio {
    padding-left: 25px;
    display: block;
    background: url(/wp-content/themes/zendesk-twentyeleven/img/lead-form.png) 0 -99px no-repeat;
    height: 20px
}

.form-lead .radio.solo {
    padding-left: 0
}

.form-lead label.r_on {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/lead-form.png) 0 -79px no-repeat
}

.form-lead .radio input {
    position: absolute;
    left: -9999px
}

.form-lead p.help {
    float: left;
    font: 14px/1 DNLTLI;
    color: #484848;
    margin: 13px 5px 0;
    padding: 0
}

.form-lead .loading {
    height: 320px
}

.form-contact {
    width: 480px;
    position: relative
}

.form-contact input[name="name"], .form-contact input[name="company"] {
    margin-right: 20px
}

.form-contact input[name="newsletter"] {
    border: none;
    width: 25px;
    height: 25px;
    text-align: left;
    padding: 0
}

.form-contact input, .form-contact textarea {
    width: 217px;
    height: 24px
}

.form-contact textarea {
    width: 467px;
    height: 245px
}

.form-contact input[type="submit"] {
    width: 120px;
    margin-left: 15px
}

.form-contact select {
    height: 40px;
    width: 478px
}

.form-contact .select-fat, .form-contact .select-fat select {
    width: 466px
}

.form-contact .select-skinny, .form-contact .select-skinny select {
    width: 216px;
    margin-right: 20px
}

.form-contact .news {
    margin-top: 10px
}

.form-contact .news span {
    font-size: 13px;
    margin: 6px 0 0 0;
    width: 200px;
    color: gray;
    float: left
}

.form-contact .btn-submit {
    display: block;
    width: 160px;
    margin: 0 auto
}

.form-contact .loading {
    height: 545px
}

.form-demo, .form-demo ul {
    width: 200px;
    margin: 0;
    padding: 0;
    position: relative
}

.form-demo ul li {
    list-style: none;
    margin: 0 0 10px 0
}

.form-demo ul li label {
    display: none;
    opacity: 0
}

.form-demo input {
    width: 188px
}

.form-demo .orange.button, .form-demo .button-white, .form-demo .button-white-disabled:hover {
    padding: 4px 10px 10px;
    margin-bottom: 0;
    width: 180px
}

.form-demo .button-white, .form-demo .button-white-disabled:hover {
    padding: 12px 10px 6px;
    margin-top: 0
}

.form-demo .select {
    width: 200px;
    height: 38px
}

.form-demo .select-label {
    width: 187px;
    height: 36px
}

.form-demo .select-label.hover {
    -moz-box-shadow: inset 0 -16px 33px #eee;
    -webkit-box-shadow: inset 0 -16px 33px #eee;
    box-shadow: inset 0 -16px 33px #eee
}

.form-demo .select-label span.toggle {
    display: block;
    float: right;
    height: 40px;
    width: 44px;
    background-image: url("/wp-content/themes/zendesk-twentyeleven/img/p-demo/icon-select.png");
    background-position: right -2px;
    background-repeat: no-repeat;
    background-size: 90%
}

.form-demo .loading {
    height: 185px
}

.form-startup {
    width: 272px;
    overflow: hidden;
    margin-bottom: 50px;
    float: right;
    background: #eee;
    background: rgba(0, 0, 0, 0.04);
    padding: 0 55px 30px 40px
}

.form-startup .button.button-white, .form-startup .button.button-white-disabled:hover {
    margin-top: 10px;
    line-height: 3.2em;
    width: 269px
}

.form-startup p {
    margin: 10px 0 7px 2px;
    line-height: 22px;
    color: #666
}

.form-startup li textarea {
    width: 277px;
    min-height: 60px
}

.form-startup h3 {
    font: 28px/1.2em DNRR;
    color: #666;
    margin: 30px 0 25px 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff
}

.form-startup h3 strong {
    font: 28px/1.2em DNRM;
    color: #444
}

.form-startup .separator {
    margin: 20px 0 10px
}

.form-startup ol {
    margin: 10px 0 20px 20px
}

.form-startup ol li {
    margin: 0 0 13px 0;
    line-height: 22px;
    list-style: decimal
}

.form-startup .response div {
    display: none
}

.form-startup span.promo-code {
    font: 15px/1.3 DNLTB
}

.form-startup .loading {
    left: 10px;
    top: 10px;
    width: 348px;
    padding-top: 120px;
    height: 210px
}

section.signup header, #modal.privacy header {
    border-radius: 6px 6px 0 0;
    padding: 1em 0.5em 1.5em 1.6em;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/header-tile.jpg") 0 0 repeat-x
}

section.signup .plan {
    position: absolute;
    margin: 0;
    width: 360px;
    color: #fff;
    border-width: 0 1px 0 0;
    padding: 0 25px 10px 0
}

section.signup .plan h4, #modal.privacy h4 {
    float: left;
    width: 50%;
    margin: 4px 0 0 1px;
    padding-bottom: 3px;
    font: 41px DNLTM;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px black;
    border: none
}

#modal.privacy h4 {
    font: 31px/1.1 DNLTM;
    width: 90%;
    margin: 0.5em 0 0 0
}

section.signup .price {
    float: right;
    width: 86px;
    margin-top: 5px
}

section.signup .price span {
    display: block;
    clear: both;
    width: 100%;
    text-align: center
}

section.signup .price span.point {
    font: 41px DNLTR;
    line-height: 36px;
    text-shadow: 1px 1px 6px black;
    color: white
}

section.signup .price span.point span {
    font: 41px/1 DNLTM;
    display: inline
}

section.signup .price span.cycle {
    font: 0.8em/1 DNLTRI;
    color: #ffffff
}

section.signup .starter, section.signup .regular, section.signup .plus, section.signup .enterprise {
    display: none
}

section.signup header a.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-close.jpg") 0 0 no-repeat
}

section.signup form {
    max-width: 100%;
    padding: 1em 2em 0 2em
}

section.signup h1 {
    margin: 1.3em 0 0.5em 0
}

section.signup h3 {
    font: 1.3em/1.3 DNLTRI;
    color: #666;
    margin: 0.2em 0 1.3em 0
}

section.signup h3.buy {
    display: none
}

section.signup form ul {
    position: relative;
    padding: 0 3.6em 0 0;
    margin: 0
}

section.signup form ul.full {
    padding: 0 0.3em 0 0;
    width: 100%
}

section.signup form ul li {
    float: left;
    width: 100%;
    list-style: none
}

section.signup form ul li.share {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px
}

section.signup form ul li.short {
    height: 23px
}

section.signup form ul li.share p {
    font: 1em/1 DNLTRI;
    color: #999;
    padding: 0
}

section.signup form label {
    position: relative;
    width: 105%;
    font-size: 1em;
    line-height: 2.95em;
    border-radius: 0 5px 5px 0
}

section.signup form label.chars {
    width: 300px;
    padding: 13px 85px 17px 39px;
    line-height: 14px
}

section.signup .host {
    display: block;
    float: right;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #7d5b0b;
    text-align: right;
    margin: -13px 20px 0 0
}

section.signup form span.phantom {
    position: absolute;
    left: -9999em;
    margin: 0;
    padding: 0 0 0 5px;
    word-spacing: normal;
    letter-spacing: 0px;
    border: 2px inset;
    font: 1.3em/1.1 DNLTL;
    visibility: hidden
}

section.signup form span.ie-password-label {
    display: none;
    text-indent: -9999em;
    position: absolute;
    color: #a0a0a0;
    margin: 12px 0 0 52px;
    padding: 0 0 0 5px;
    word-spacing: normal;
    letter-spacing: 0px;
    border: none;
    font: 22.4px/1 DNLTR
}

section.signup form input:focus {
    color: #333
}

section.signup form input[type="text"], section.signup form input[type="email"], section.signup form input[type="number"], section.signup form input[type="password"] {
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px #DDDDDD inset;
    font: 20px/1 DNLTL;
    margin: 0 0 0.9em 0;
    max-width: 100%;
    padding: 12px 0 8px 56px;
    width: 100%
}

.lead-resource {
    background: rgba(0, 0, 0, 0.03);
    padding: 0 15px 15px 0;
    margin-top: 30px;
    height: 296px
}

.lead-resource section.signup form .select {
    -webkit-box-shadow: inset 0 -16px 43px #f6f6f6;
    box-shadow: inset 0 -16px 43px #f6f6f6;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(top, #fff, #e6e6e6);
    background-repeat: repeat-x;
    width: 118%
}

.lead-resource section.signup form {
    width: 100%;
    padding: 10px 0 0 15px
}

.lead-resource section.signup form ul li {
    width: 42.25%;
    margin-right: 69px
}

.lead-resource section.signup form ul li.right {
    margin-right: 0px
}

.lead-resource a.button {
    width: 220px;
    font: 19px/2.4 DNRB;
    padding-top: 2px;
    border: 1px solid #C98B2B !important
}

.lead-resource section.signup form input[type="text"], .lead-resource section.signup form input[type="email"], .lead-resource section.signup form input[type="number"] {
    margin: 0 0 0.6em;
    font: 17px/1.3 DNLTL;
    padding: 14px 0 8px 18px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield
}

.lead-resource section.signup form .select {
    font: 1.25em/2.5 DNLTR
}

.lead-resource section.signup form ul li input {
    background: #fff
}

section.signup form input[type="text"]:hover, section.signup form input[type="email"]:hover, section.signup form input[type="number"]:hover, section.signup form input[type="password"]:hover {
    box-shadow: 0px 2px 7px #c5c5c5 inset
}

section.signup form li.error input[type="text"], section.signup form li.error input[type="email"], section.signup form li.error input[type="number"], section.signup form li.error input[type="password"] {
    border: 4px solid #c55200;
    border-radius: 9px;
    padding: 0.7em 0 0.4em 2.7em !important;
    z-index: 999
}

section.signup form li.error select {
    height: 49px;
    margin: 0 0 1.5em 0
}

section.signup form li.error span.select {
    border: 4px solid #c55200;
    border-radius: 9px
}

section.signup form li.error label {
    z-index: -999
}

section.signup form ::-webkit-input-placeholder {
    font: 1.1em/1.1 DNLTL;
    line-height: 1em
}

section.signup form .subdomain {
    background-position: 15px 8px
}

section.signup form .shadow {
    display: none;
    position: absolute;
    top: -1px;
    left: 167px;
    height: 20px;
    border: 0;
    font: 1.3em/1.1 DNLTL;
    color: #aaa;
    background-repeat: no-repeat;
    padding: 0.8em 0 0.4em 0
}

section.signup form ul li.error .shadow {
    top: 3px
}

section.signup form input[type="image"] {
    position: absolute;
    top: 3px;
    right: -3px
}

section.signup form select {
    font-family: 'arial';
    height: 40px;
    width: 100%;
    margin: 0 0 1.95em 0;
    padding: 0 0 0 1em;
    box-shadow: 0px 1px 1px #b8b6a5 inset;
    border: 1px solid #B8B6A5;
    color: #888;
    cursor: pointer;
    z-index: 5;
    filter: alpha(opacity=0)
}

section.signup form .languages span {
    float: right
}

section.signup form select.language, section.signup form select.refer {
    width: 180px
}

section.signup form select.employees, section.signup form select.country {
    position: relative;
    width: 380px;
    opacity: 0;
    z-index: 5
}

section.signup form select.language, section.signup form select.refer {
    position: relative;
    width: 70;
    opacity: 0;
    z-index: 5
}

section.signup form .select {
    position: absolute;
    width: 114%;
    height: 48px;
    font: 1.3em/2.5 DNLTL;
    letter-spacing: 0.02em;
    color: #aaa;
    padding: 0 0 0 0.6em;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 -16px 43px #f6f6f6;
    -webkit-box-shadow: inset 0 -16px 43px #f6f6f6;
    box-shadow: inset 0 -16px 43px #f6f6f6
}

section.signup form .select.language, section.signup form .select.refer {
    position: absolute;
    right: 0;
    font: 1em/1 DNLTL;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    overflow: hidden;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

section.signup form .select.hover {
    -moz-box-shadow: inset 0 -16px 33px #eee;
    -webkit-box-shadow: inset 0 -16px 33px #eee;
    box-shadow: inset 0 -16px 33px #eee
}

section.signup form span a {
    color: #4384a6;
    padding-right: 0.7em;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/icon-dropdown.png") right 5px no-repeat
}

section.signup form .select span.toggle {
    display: block;
    float: right;
    height: 40px;
    width: 44px;
    background-image: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-select.png");
    background-position: right 5px;
    background-repeat: no-repeat;
    background-size: 90%
}

section.signup form .select span.size {
    display: block;
    float: left;
    height: 40px;
    width: 43px;
    background-image: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/sprite-signup-icons.png");
    background-position: -10px -399px;
    background-repeat: no-repeat
}

section.signup form .select.set span.size, section.signup form .select.focus span.size {
    background-position: -10px -453px
}

section.signup form .select span.country {
    background-position: -11px -502px
}

section.signup form .select.set span.country, section.signup form .select.focus span.country {
    background-position: -11px -551px
}

section.signup form .select.set, section.signup form .select.focus {
    color: #333
}

section.signup form .select.focus {
    -moz-box-shadow: inset 0 -16px 33px #eee;
    -webkit-box-shadow: inset 0 -16px 33px #eee;
    box-shadow: inset 0 -16px 33px #eee
}

section.signup form p.agreement {
    width: 65.5%;
    float: left;
    font: 0.65em/1 DNLTL;
    line-height: 1.2em;
    color: #999;
    margin: 0 0 6px 62px;
    text-align: center
}

section.signup form ul li {
    position: relative
}

section.signup form ul li input {
    background-image: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/sprite-signup-icons.png");
    background-position: 0 0;
    background-size: auto 710px;
    background-repeat: no-repeat
}

section.signup form label {
    display: none;
    position: absolute;
    top: 0;
    left: 117%;
    overflow: visible;
    background: #bb540f;
    padding: 19px 0 25px 39px;
    font: 0.9em/1 DNLTR;
    color: #444;
    text-transform: uppercase;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/error-tab.png") 7px 0 no-repeat
}

section.signup form li.error label {
    display: block
}

section.signup form label.first {
    margin-top: 0em
}

section.signup form ul li input.name {
    background-position: -1px 0px
}

section.signup form ul li input.name.set, section.signup form ul li input.name:focus {
    background-position: -1px -47px
}

section.signup form ul li input.email {
    background-position: 0 -94px
}

section.signup form ul li input.email.set, section.signup form ul li input.email:focus {
    background-position: 0 -142px
}

section.signup form ul li input.password {
    background-position: 0 -617px
}

section.signup form ul li input.passowrd.set, section.signup form ul li input.password:focus {
    background-position: 0 -665px
}

section.signup form ul li input.phone {
    background-position: -2px -191px
}

section.signup form ul li input.phone.set, section.signup form ul li input.phone:focus {
    background-position: -2px -241px
}

section.signup form ul li input.size {
    background-position: 0 -399px
}

section.signup form ul li input.size.set, section.signup form ul li input.size:focus {
    background-position: 0 -454px
}

section.signup form ul li input.company {
    background-position: 0 -284px
}

section.signup form ul li input.company.set, section.signup form ul li input.company:focus {
    background-position: 0 -334px
}

section.signup form ul li input.subdomain {
    background-position: -2px -476px
}

section.signup form ul li input.subdomain.set, section.signup form ul li input.subdomain:focus {
    background-position: -2px -522px
}

section.signup form .language, section.signup form .refer {
    float: right
}

section.signup form a.create-account {
    display: block;
    float: none;
    margin: 0 auto 15px !important;
    height: 37px;
    width: 216px;
    padding-top: 3px;
    font-size: 19px;
    cursor: pointer
}

section.signup form a.request-demo {
    display: block;
    float: right;
    margin-right: 9px;
    clear: both;
    height: 49px;
    width: 216px;
    cursor: pointer;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-demo-request.png") 0 -6px no-repeat
}

section.signup form a.request-demo:hover {
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-demo-request.png") 0 -56px no-repeat
}

section.signup form a.request-demo:active {
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-demo-request.png") 0 -103px no-repeat
}

section.signup p a {
    color: #4384a6
}

section.signup p a:hover {
    color: #c55200
}

section.signup form li.create {
    margin: 10px 0 20px 0
}

section.signup .loading {
    display: none;
    position: absolute;
    top: 43.4%;
    width: 100%;
    text-align: center
}

section.signup .loading img {
    width: 61px;
    margin: 0 auto
}

section.signup .loading p {
    font: 1.4em/1 DNLTRI;
    color: #777;
    padding-top: 21px
}

section.signup form p#host {
    position: absolute;
    top: 130px;
    right: 185px;
    font-size: 8pt
}

section.signup form p.subtext {
    display: inline;
    margin: 2px 0 0 0;
    padding: 0;
    color: #444;
    font-style: italic;
    font: 12.3px DNRL
}

section.signup form span.red {
    color: red
}

section.signup form .submit {
    width: 25%
}

section.signup form p#tos {
    width: 330px
}

section.signup form a.button {
    margin-left: 1px
}

section.browser {
    width: 358px;
    margin: 0 auto;
    padding: 2em 2em 4em
}

section.browser .title {
    font: 28px DNRB;
    color: #78A300;
    text-transform: uppercase;
    margin: 0.9em 0 0.3em
}

section.browser .title-sub {
    font: 18px/1.3 DNLTR;
    color: #777;
    margin: 0 0 1em 0
}

section.browser h1 {
    margin: -20px 0 8px;
    color: #78A300;
    font: 2em/1.2em DNLTM;
    text-shadow: 1px 1px 6px #fff;
    text-transform: uppercase
}

section.browser h2 {
    color: #555;
    font: 22px/1.2 DNRM;
    margin: 0px 0 15px;
    padding: 0
}

section.browser p {
    font: 15px/1.4 DNLTL;
    color: #777;
    margin: 0 0 14px
}

section.browser ul {
    height: 130px;
    margin: 25px 0 15px;
    padding: 0
}

section.browser ul li {
    float: left;
    height: 119px;
    width: 77px;
    list-style: none;
    font: 14px/1.2 DNLTR;
    margin-right: 15px
}

section.browser ul li.last {
    margin-right: 0
}

section.browser ul li {
    background: #eee url(/wp-content/themes/zendesk-twentyeleven/img/signup/sprite-browser-background.png) 0 0 no-repeat
}

section.browser ul li:hover {
    background: #a9c70a url(/wp-content/themes/zendesk-twentyeleven/img/signup/sprite-browser-background.png) -78px 0 no-repeat
}

section.browser ul li a {
    display: block;
    height: 40px;
    width: 75px;
    color: #888;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    padding-top: 77px;
    cursor: pointer;
    background-image: url(/wp-content/themes/zendesk-twentyeleven/img/signup/sprite-browser-logos.png);
    background-repeat: no-repeat;
    background-position: 0 0
}

section.browser ul li a:hover {
    height: 0px;
    padding-top: 117px;
    overflow: hidden
}

section.browser ul li a.chrome {
    background-position: -7px 6px
}

section.browser ul li a.firefox {
    background-position: -97px 6px
}

section.browser ul li a.safari {
    background-position: -186px 6px
}

section.browser ul li a.explorer {
    background-position: -276px 6px
}

section.browser nav {
    width: 100%
}

section.browser nav a.cancel {
    float: left;
    width: 35%;
    line-height: 2.5em
}

section.browser nav a.continue {
    display: block;
    float: right;
    width: 216px;
    height: 37px;
    text-indent: -9999em;
    cursor: pointer;
    background: #ddd;
    background-image: url(/wp-content/themes/zendesk-twentyeleven/img/signup/button-continue.png);
    background-repeat: no-repeat;
    background-position: 0 0
}

section.browser nav a.continue:hover {
    background-position: 0 -37px
}

section.browser nav a.continue:active {
    background-position: 0 -73px
}

#modal.privacy-policy strong {
    font: 1em DNLTM
}

section.remote-auth table {
    margin: 0 0 40px 0
}

section.remote-auth ol li {
    padding: 0 0 15px 0
}

section.remote-auth table tr td {
    margin: 0 0 40px 0;
    color: #666
}

section.remote-auth table.params {
    width: 600px !important
}

section.remote-auth table.params tr td:nth-child(1) {
    font: 15px/1.3 DNRM;
    color: #444
}

section.remote-auth table.error-messages th, section.remote-auth table.use-cases th, section.remote-auth table.params th {
    font: 17px/1.3 DNRM;
    padding: 20px 15px 9px 0;
    color: #333;
    text-align: left
}

section.remote-auth table.error-messages tr td {
    min-width: 249px;
    padding: 10px 15px 15px 0
}

section.remote-auth table.params tr td {
    max-width: 120px;
    padding: 10px 15px 15px 0;
    word-wrap: break-word
}

section.remote-auth table.params tr td:nth-child(1) {
    width: 50px
}

section.remote-auth table.params tr td:nth-child(3) {
    width: 50px;
    text-align: center
}

section.remote-auth table.use-cases {
    width: 650px
}

section.remote-auth table.use-cases tr td {
    max-width: 150px;
    padding: 10px 30px 15px 0
}

section.remote-auth table.use-cases tr td:nth-child(1), section.remote-auth table.use-cases tr td:nth-child(2) {
    width: 100px
}

section.remote-auth table.use-cases tr td:nth-child(3) {
    width: 280px
}

#overlay, #mobile-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 999999;
    cursor: pointer
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 415px;
    color: #406E7F;
    margin: -349px 0 0 -213px;
    background-color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    border: 3px solid #669300;
    z-index: 999999
}

#modal.privacy {
    width: 535px;
    margin: -179px 0 0 -270px
}

#modal.buy, #modal.privacy {
    border: 3px solid #111
}

#modal.buy header, #modal.privacy header {
    background-image: none;
    background-color: #222;
    height: 70px
}

#modal.buy header .trial {
    display: none
}

#modal.buy header a.close, #modal.privacy header a.close {
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/button-close-dark.jpg") 0 0 repeat-x
}

#modal.buy h3.trial {
    display: none
}

#modal.buy h3.buy, #modal.privacy h3 {
    display: block
}

#modal.buy header, #modal.privacy header {
    padding: 1.35em 0.5em 0.5em 1.6em;
    background: url("\/wp-content\/themes\/zendesk-twentyeleven\/img/signup/header-tile-dark.jpg") 0 0 repeat-x
}

#modal.privacy header {
    padding: 0.65em 0.5em 0em 1.6em
}

#modal.buy header a.close, #modal.privacy header a.close {
    top: 5px;
    right: 0px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    line-height: 20px
}

#modal.buy header a.close:before, #modal.buy header a.close.ico-iphone:after, #modal.privacy header a.close:before, #modal.privacy header a.close.ico-iphone:after {
    content: '\e814'
}

#modal.privacy p {
    position: relative;
    float: left;
    margin: 2em 2em 2em 2em;
    font: 1.1em/1.5 DNLTL;
    clear: both;
    color: #666
}

@font-face {
    font-family: entyposocial;
    -moz-font-feature-settings: "liga=0";
    -moz-font-feature-settings: "liga" 0;
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entyposocial.eot");
    src: url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entyposocial.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entyposocial.woff") format("woff"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entyposocial.ttf") format("truetype"), url("/wp-content/themes/zendesk-twentyeleven/assets/fonts/entyposocial.svg#entyposocial") format("svg")
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif
}

a:hover, a:focus, div.column li a:hover, div.column li a:focus {
    color: #C55200;
    text-decoration: none
}

.primary-menu-bar-cta .ico-iphone {
    margin-right: 8px
}

.primary-menu-bar-cta .button-global-trial {
    height: 28px;
    padding-top: 2px
}

.content_grey {
    background: none
}

.content #comment_value {
    background: #fff
}

#widget_manager_widget {
    display: none
}

.frame, .tabbed_container .tabs_content, .sammy_tabbed_container .tabs_content, .tabbed_container .tab_links a.current, .sammy_tabbed_container .tab_links a.current {
    border-color: #DDD
}

#voting_control {
    margin-top: 10px
}

.frame {
    margin: 9px 8px 10px 0px;
    min-width: auto
}

#flash_messages {
    margin: 0 auto
}

#flash div#notice {
    background-color: #FFFFD8
}

.content h2 {
    color: #484848;
    font-family: DNLTL;
    letter-spacing: 1px;
    margin: 0 0 30px;
    max-width: 722px
}

.content h2 a {
    color: #484848
}

.content h2 a:hover {
    color: #C55200
}

.content h3 {
    font: 16px DNLTR
}

body.entries-show h2.forums {
    font-family: Arial, sans-serif
}

body.entries-show h2.forums a {
    color: #0069AB
}

.entries-show h3.entry-title, .portal-show h3.entry-title {
    font-family: DNLTR;
    font-size: 27px
}

.content.main-user-profile h2 {
    width: auto
}

.door {
    float: right;
    font-size: 11px;
    position: relative;
    top: 12px !important;
    right: 8px;
    z-index: 1
}

.grey_box_bottom, .grey_box_top, .content_green, .green_box_top, .green_box_bottom, div.box_bottom, div.box_top {
    background: none
}

#subscribe_link {
    position: relative
}

.edit_this {
    position: relative;
    top: 0
}

.access input.text, .access input.reset_password_email, .password_reset_requests input.text, .password_reset_requests input.reset_password_email {
    margin: 10px 0
}

.access .action-login, .password_reset_requests .action-login {
    margin-left: 0
}

#add_comment {
    font-size: 25px;
    padding: 0 10px 10px 10px;
    margin-left: -6px;
    color: #484848
}

body, #page, .mastfoot {
    padding: 0;
    max-width: 100%;
    *width: 100%;
    background: url(https://www.zendesk.com/wp-content/themes/zendesk-twentyeleven/img/master-bg2.png) repeat;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

#page {
    padding-bottom: 40px
}

#page_wrapper {
    padding-bottom: 0
}

.mastfoot {
    margin: 0
}

div#container {
    width: 960px;
    margin: 50px auto 0;
    padding: 0
}

div#container.full_width #sidebar {
    clear: none
}

div#contentcolumn {
    float: right;
    width: 750px;
    margin-right: 0
}

ul#mini-menu {
    width: 190px;
    float: left;
    padding: 0;
    margin: 20px 0 0 0;
    color: #eee
}

ul#mini-menu li {
    display: block !important;
    margin: -16px 0 0 0 !important;
    padding-top: 15px;
    border-bottom: 1px solid #DEDEDE;
    text-align: left
}

ul#mini-menu li:hover {
    background: #fff;
    border-bottom: 1px solid #fff
}

ul#mini-menu li:first-child {
    border-top: 1px solid #dedede;
    padding-top: 15px
}

ul#mini-menu li:first-child:hover {
    border-top: 1px solid #fff
}

ul#mini-menu li a {
    display: block;
    font: 13px DNRB;
    text-transform: none;
    padding: 0 0 7px 0;
    color: #555;
    text-align: center;
    text-transform: uppercase
}

ul#mini-menu li a:hover {
    color: #4384A6
}

#main_content.trust h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px
}

.trust table {
    margin: 0 0 20px
}

.footnote {
    float: left;
    clear: left;
    background: #eee;
    padding: 10px 20px
}

#left {
    float: left;
    width: 520px
}

#right {
    float: right;
    padding-top: 45px;
    padding: 45px 0 5px 5px
}

#right h2 a {
    color: #C86421
}

#right a.tip_trigger {
    text-decoration: none;
    font-size: 15px
}

.blue_box_top, .blue_box_bottom {
    background: #F6F6F6 !important;
    margin-bottom: 0 !important
}

body.access div.login-options {
    width: 300px !important
}

body.access .login-options a.open-id span {
    bottom: -4px
}

#flash_messages {
    width: 708px
}

#flash div {
    margin-top: 5px
}

#ratings .zd_satisfaction div {
    background-color: #fff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 30% !important;
    margin: 0 !important
}

#ratings .zd_rating_string {
    background-color: #fff !important;
    padding: 0 !important !important
}

#ratings .zd_satisfaction_score .zd_rating_number {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4) !important
}

#ratings {
    padding: 0px 15px 10px 13px !important
}

.close {
    width: 25px;
    height: 25px;
    background: url(https://www.zendesk.com/wp-content/themes/zendesk-twentyeleven/img/close-video.png) no-repeat 0 0;
    position: absolute;
    top: 5px;
    right: -37px;
    z-index: 1
}

#widget_fixed {
    display: none
}

.access .login-options a.button, .password_reset_requests .login-options a.button {
    width: 107px;
    font-family: helvetica;
    font-weight: normal;
    text-transform: none
}








.welcome {
    margin: 0;
    padding: 0;
    border: none
}

.loading {
    background: none
}

.action-login .btn-submit {
    float: left;
    margin-left: 0px;
    margin-top: 10px
}



.categories .cta {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background: #fcfcfc;
    float: left;
    margin-right: 10px;
    opacity: .95;
    padding: 20px;
    width: 191px;
    height: 193px;
    text-align: center
}

.categories .cta h3 {
    color: #333;
    font: 18px/18px DNLTL;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 5px
}

.categories .cta p {
    color: #666;
    font: 14px DNLTL;
    width: 100%;
    margin: 0 auto
}

.categories .cta span {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/support/icons-cta.png) 178px 0;
    display: block;
    margin: 0 auto;
    height: 89px;
    width: 89px
}

.categories .cta:first-child span {
    background-position: 0 0
}

.categories .cta.last {
    margin-right: 0
}

.categories .cta.last span {
    background-position: 89px 0
}

.categories .cta:hover {
    background: #EEE;
    border-color: #ddd;
    opacity: 1
}

.home .cta, .forums .cta {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background: #fcfcfc;
    float: left;
    margin-right: 10px;
    opacity: .95;
    padding: 20px;
    width: 191px;
    height: 193px;
    text-align: center
}

.home .cta h3, .forums .cta h3 {
    color: #333;
    font: 18px/18px DNLTL;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 5px
}

.home .cta p, .forums .cta p {
    color: #666;
    font: 14px DNLTL;
    width: 70%;
    margin: 0 auto
}

.home .cta span, .forums .cta span {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/support/icons-cta.png) 178px 0;
    display: block;
    margin: 0 auto;
    height: 89px;
    width: 89px
}

.home .cta:first-child span, .forums .cta:first-child span {
    background-position: 0 0
}

.home .cta.last, .forums .cta.last {
    margin-right: 0
}

.home .cta.last span, .forums .cta.last span {
    background-position: 89px 0
}

.home .cta:hover, .forums .cta:hover {
    background: #EEE;
    border-color: #ddd;
    opacity: 1
}

.home .frame, .forums .frame {
    padding-top: 0;
    padding-bottom: 0
}

.home .frame .category-header, .forums .frame .category-header {
    background: url(/wp-content/themes/zendesk-twentyeleven/img/support/icons-toggle.png) no-repeat #fff right -25px;
    cursor: pointer;
    padding: 20px 0 20px 10px;
    margin: 0 0 -1px
}

.home .frame h2, .forums .frame h2 {
    color: #484848;
    font: 20px DNLTR;
    margin: 0
}

.home .frame .active, .forums .frame .active {
    background-position: right 25px
}

.home #content_entries .frame .frame, .forums #content_entries .frame .frame {
    border: 1px solid #DDD;
    padding: 0 15px 0 13px;
    margin: 9px 8px 10px 0
}

.home #content_entries .frame.columns, .forums #content_entries .frame.columns {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent
}

.home div#container .first-frame, .forums div#container .first-frame {
    padding: 0 15px 0 13px;
    margin: 15px 8px 0 20px;
    width: 692px
}

.home div.show_more_bar, .forums div.show_more_bar {
    margin-bottom: 10px
}

.post-uploads, #submit_form {
    float: left;
    width: 45%
}

#submit_form {
    float: right;
    margin-top: 10px
}

#submit_form .action {
    float: right;
    margin-right: 11px;
    padding: 0
}

#submit_form .action #submit-button {
    background-color: #545454;
    background-image: -moz-linear-gradient(top, #545454, #303030);
    background-image: -ms-linear-gradient(top, #545454, #303030);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#303030));
    background-image: -webkit-linear-gradient(top, #545454, #303030);
    background-image: -o-linear-gradient(top, #545454, #303030);
    background-image: linear-gradient(top, #545454, #303030);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#303030', GradientType=0);
    border-color: #6d6d6d;
    border-top-color: #7f7f7f;
    color: #fff;
    font: 18px/18px DNRL;
    letter-spacing: -1px;
    margin: 0 -1px -1px;
    text-transform: capitalize;
    width: 90px
}

#submit_form .action #submit-button:hover {
    background-color: #303030;
    background-image: -moz-linear-gradient(top, #303030, #545454);
    background-image: -ms-linear-gradient(top, #303030, #545454);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#545454));
    background-image: -webkit-linear-gradient(top, #303030, #545454);
    background-image: -o-linear-gradient(top, #303030, #545454);
    background-image: linear-gradient(top, #303030, #545454);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#545454', GradientType=0);
    border-color: #6d6d6d;
    border-bottom-color: #7f7f7f
}

.form-lead .action {
    border: 1px solid #6d6d6d;
    clear: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    float: right;
    margin: 0 8px 0 0;
    overflow: hidden;
    padding: 0
}

.form-lead .action #suggestion_submit, .form-lead .action #buttonsubmit {
    background-color: #545454;
    background-image: -moz-linear-gradient(top, #545454, #303030);
    background-image: -ms-linear-gradient(top, #545454, #303030);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#303030));
    background-image: -webkit-linear-gradient(top, #545454, #303030);
    background-image: -o-linear-gradient(top, #545454, #303030);
    background-image: linear-gradient(top, #545454, #303030);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#303030', GradientType=0);
    border-color: #6d6d6d;
    border-top-color: #7f7f7f;
    color: #fff;
    font: 18px/18px DNRL;
    letter-spacing: -1px;
    margin: 0 -1px -1px;
    text-transform: capitalize;
    width: 120px
}

.form-lead .action #suggestion_submit:hover, .form-lead .action #buttonsubmit:hover {
    background-color: #303030;
    background-image: -moz-linear-gradient(top, #303030, #545454);
    background-image: -ms-linear-gradient(top, #303030, #545454);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#545454));
    background-image: -webkit-linear-gradient(top, #303030, #545454);
    background-image: -o-linear-gradient(top, #303030, #545454);
    background-image: linear-gradient(top, #303030, #545454);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#545454', GradientType=0);
    border-color: #6d6d6d;
    border-bottom-color: #7f7f7f
}

.content input.title {
    font: 18px DNLTL;
    padding: 6px 10px
}

.home .columns .category {
    margin: 0;
    padding: 0;
    min-height: auto
}

.home div.content div.category div.column {
    margin-bottom: 20px
}

.entry strong {
    font-family: 'helvetica neue', Helvetica
}

.entry h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'helvetica neue', Helvetica
}

.entry h3 {
    color: #484848;
    padding-bottom: 3px;
    font-family: 'helvetica neue', Helvetica
}

.login.classic .services.external {
    width: 275px;
    height: 190px;
    border: none;
    border-right: 1px solid #C9C9C9
}

.login .interface.outer {
    padding: 40px 0 40px 43px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    background: transparent;
    background: rgba(0, 0, 0, 0.03);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

.login .footnotes {
    border: none;
    background: none
}

.login .footnotes p {
    margin: 15px 0 600px
}

.login .footnotes p.question {
    margin: 0
}

.login .separator {
    clear: none;
    border: none;
    margin-right: 30px;
    margin-top: 68px;
    margin: 68px 30px 0 -25px;
    padding: 10px 0 20px 0;
    font: 15px/2 DNLTRI;
    height: 19px;
    background: #5A5A5A;
    color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px
}

.login .services.internal {
    clear: none;
    margin-bottom: 20px
}

.title {
    font: 27px/1.3 DNLTL
}

.login.classic .assistance {
    width: 640px
}

.login .footnotes .question {
    margin-bottom: 14px;
    font: 17px/1 DNLTM
}

.login .logo {
    font-family: entyposocial;
    font-size: 25px
}